<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/main.css" />
    <title>Rails React Scaffold</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="root"></div>

    <%= @bootstrap_javascript.html_safe %>

    <!-- Main -->
    <script src="/static/login.bundle.js"></script>
  </body>
</html>